body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./image.jpg/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: aliceblue;
}
input{
  border: 2px white solid;
  border-radius: 4px;
  padding: 5px;
  width: 7rem;
}
select{
  padding: 4px;
  margin-left: 3px;
}
.equal{
  font-size: 30px;
  font-weight: 5px;
  text-align: center;
  color: aliceblue;
}
.card{
  height: 30vh;
  background-color: #337;
  padding: 3px 20px 27px;
}
.test{
  color:blue;
}
